@font-face {
    font-family: PTSans;
    src: url(../fonts/PTSans.woff);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: PTSans;
    src: url(../fonts/PTSans_bold.woff);
    font-style: normal;
    font-weight: bold;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    font: inherit;
}


.clearfix {
    position: relative;

    &:after {
        content: '';
        display: table;
        clear: both;
    }
}


html {
    overflow: hidden;
    width: 100%;
    height: 100%;
    font: 16px/20px PTSans, sans-serif;
}
body {
    overflow: auto;
    width: 100%;
    height: 100%;
}


a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}


.page {
    min-width: 1200px;

    // Шапка
    .header {
        padding: 10px 15px;

        background-color: #47a;

        .left {
            float: left;

            padding: 10px 0;

            .title {
                display: block;

                font-size: 24px;
                line-height: 25px;

                color: #fff;
            }

            .week {
                display: block;

                padding-top: 10px;

                color: #f9f9f9;
            }
        }

        .right {
            float: right;

            .logo {
                display: block;

                width: 86px;
                height: 75px;

                background-image: url(../img/logo_sfedu_white.png);
            }
        }
    }

    // Селекторы расписаний, кнопки печати и авторизации
    .nav {
        padding: 0 15px;

        background-color: #f3f3f3;

        .select {
            display: block;
            position: relative;
            float: left;

            height: 32px;
            min-width: 280px;
            margin: 10px 0;
            padding: 0 30px 0 10px;
            border: 1px solid #ccc;

            appearance: none;
            border-radius: 0;
            background-image: url(../img/select.png);
            background-position: right center;
            background-repeat: no-repeat;

            background-color: #fff;

            &::-ms-expand {
                display: none;
            }
        }

        .left {
            float: left;

            .select {
                margin-right: 10px;
            }
        }

        .right {
            float: right;

            .button {
                display: block;
                float: left;

                height: 52px;
                padding: 10px;

                cursor: pointer;

                &:hover {
                    background-color: #ddd;
                }
            }
        }
    }

    // "Приветственный" текст и расписание
    .content {
        position: relative;

        padding: 17px 15px;

        .intro {
            p {
                font-size: 30px;
                line-height: 40px;
                text-align: center;
            }
        }

        .schedule-group {
            display: none;

            .schedule:not(:last-child) {
                margin-bottom: 17px;
            }
        }
    }

    // Подвал
    .footer {
        position: relative;
        height: 50px;
        padding: 15px;

        background-color: #f3f3f3;

        color: #333;

        span {
            margin: 0 5px;
        }

        .center {
            text-align: center;
        }

        .left {
            position: absolute;
            top: 0;
            left: 0;
            padding: 15px;
        }

        .right {
            position: absolute;
            top: 0;
            right: 0;
            padding: 15px;
        }
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .5);
}
