.container {
    width: auto !important;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    min-width: 1200px;
    margin-bottom: 50px;
}

.page_header {
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #47a;

    .title {
        display: block;

        padding-top: 10px;

        font-size: 24px;
        line-height: 25px;

        color: #fff;
    }

    .week {
        display: block;

        padding-top: 10px;

        color: #f9f9f9;
    }

    .logo {
        display: block;

        width: 86px;
        height: 75px;

        background-image: url(../img/logo_sfedu_white.png);
    }
}

.page_nav {
    background-color: #f3f3f3;

    .bootstrap-select {
        margin: 9px 0;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    .button {
        display: block;
        float: left;

        height: 52px;
        padding: 10px;

        cursor: pointer;

        &:hover {
            background-color: #ddd;
        }
    }
}

.page_content {
    position: relative;

    padding-top: 17px;
    padding-bottom: 17px;

    .schedule-group {
        display: none;

        .schedule:not(:last-child) {
            margin-bottom: 17px;
        }
    }
}

.page_footer {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: #f3f3f3;
    color: #333;

    span {
        margin: 0 5px;
    }
}

.auth-form > :last-child {
    margin-bottom: 0;
}

@media print {
    .page_header,
    .page_nav,
    .page_footer {
        display: none;
    }

    .page_content {
        padding: 0;
        
        .schedule {
            &:not(:last-child) {
                page-break-after: always;
            }

            table {
                margin: 0;

                thead {
                    display: table-row-group;
                }

                .cell-blured {
                    color: inherit;
                }
            }
        }
    }
}