.schedule table {
    width: 100%;
    margin-bottom: 20px;

	table-layout: fixed;
	border-collapse: collapse;

	background: #fff;

    line-height: normal;
    text-align: center;
    vertical-align: middle;

    &:last-child {
        margin-bottom: 0;
    }

    .title,
    .time {
        background-color: #f1f1f1;

        font-size: 0.9em;
        font-weight: bold;
    }

    .service td {
        border: 0;
        padding: 0;
    }

    td {
        border: 1px solid #d7d7d7;
        padding: 5px;

        * {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .cell-title {
        border-bottom: 0;
        vertical-align: middle;
    }

    .cell-content {
        border-top: 0;
        padding-top: 5px;
        vertical-align: middle;
    }

    .cell-empty:before {
        content: '';
        display: block;
        height: 40px;
    }

    .cell-blured {
        color: #aaa;
    }

    span {
        display: block;
    }

    .subject {
        font-weight: bold;
    }

    .group {
        font-size: 0.8em;
        font-weight: bold;
    }

    .room {
        font-size: 0.8em;
        font-weight: bold;
        text-align: right;
    }

    .full {
        display: none;
    }
}