@font-face {
    font-family: PTSans;
    src: url(PTSans.woff);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: PTSans;
    src: url(PTSans_bold.woff);
    font-style: normal;
    font-weight: bold;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: transparent;
    font: inherit;
}

html {
    font: 16px/20px PTSans, sans-serif;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

// Clear fix
.clearfix {
    position: relative;

    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.button {
    display: block;
    box-sizing: border-box;

    margin: -10px 0;
    height: 52px;
    padding: 10px;

    &:hover {
        background-color: #ddd;
    }
}

.select {
    display: block;
    box-sizing: border-box;

    height: 32px;
    padding-left: 10px;
    padding-right: 30px;
    border: 1px solid #ccc;

    appearance: none;
    border-radius: 0;
    background-image: url(select.png);
    background-position: right center;
    background-repeat: no-repeat;

    background-color: #fff;

    &:disabled {
        background-color: #f9f9f9;

        cursor: not-allowed;
    }

    option[value=""] {
        display: none;
    }
}
