
body {
	background-color: #cfd0d1;
}

.main-wrapper {
	background-color: #cfd0d1;
	padding-top: 40px;
	padding-bottom: 40px;
	width: 90%;
	margin: 0 auto;
	margin-top: 150px;
	border-radius: 3px;
}

.row-choice-head {
	background-color: #00649b;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 15px;
	color: #e4e4e4;
	border-radius: 3px 3px 0 0;
}

.row-choice {
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.container-choice {
	/*margin-top: 150px;*/
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 2px 5px 2px #aaa;
}

.container-control {
	border-radius: 3px;
	margin-top: 30px;

}

.row-control {
	border-radius: 3px;
	margin-top: 10px;
	padding-bottom: 10px;
	background-color: #f1f1f1;
	box-shadow: 0 2px 5px 2px #aaa;
}

.row-params-head {
	border-radius: 0 3px 0 0;
	text-align: center;
	font-size: 15px;
	color: #e4e4e4;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #00649b;
}

.row-params {
	margin-top: 15px;
	text-align: center;
}

.col-subject {
	text-align: center;
}

.select-subject {
	margin-top: 50px;
}

.row-btn-add {
	margin-top: 10px;
}

.btn-add-params {
	float: right;
	margin-right: 30px;
}

.btn-add-subject {
	float: right;
	margin-right: -15px;
}

.input-time {
	text-align: center;
}

.row-btn-save {
	margin-top: 10px;
	text-align: center;
}

.row-subject-head {
	border-radius: 3px 0 0 0;
	text-align: center;
	font-size: 15px;
	color: #e4e4e4;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #00649b;
}

.row-subject {
	margin-top: 15px;
	padding-bottom: 10px;
}
