<!DOCTYPE html>

<meta charset="utf-8">
<meta name="viewport" content="width=1200">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link href="favicon.ico" rel="icon">

<title>Интерактивное расписание мехмата ЮФУ</title>


<script src="//code.jquery.com/jquery-3.1.0.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="//users.mmcs.sfedu.ru/~cdn/jquery-3.1.0.min.js"%3E%3C/script%3E'))</script>

<script src="static/vue/js/vue.js"></script>

<script src="static/bootstrap/js/bootstrap.js"></script>
<script src="static/bootstrap/js/bootstrap-vue.js"></script>
<link href="static/bootstrap/css/bootstrap.css" rel="stylesheet">

<script src="static/select2/js/select2.full.js"></script>
<script src="static/select2/js/i18n/ru.js"></script>
<script src="static/select2/js/select2-vue.js"></script>
<link href="static/select2/css/select2.css" rel="stylesheet">
<link href="static/select2/css/select2-bootstrap.css" rel="stylesheet">

<link href="static/icons/css/icons.css" rel="stylesheet">

<script src="static/helpers/js/helpers.js"></script>

<script src="static/system/js/system.js"></script>

<script src="static/api/js/api.js"></script>

<script src="static/page/js/page.js"></script>
<link href="static/page/css/page.css" rel="stylesheet">

<script src="static/switcher/js/switcher.js"></script>

<script src="static/schedule/js/schedule.js"></script>

<script src="static/table/js/table.js"></script>
<script src="static/table/js/tweaker.js"></script>
<link href="static/table/css/table.css" rel="stylesheet">

<script src="static/editor/js/editor.js"></script>
<link href="static/editor/css/editor.css" rel="stylesheet">

<script src="static/init/js/init.js"></script>


<div class="page_header">
    <div class="container">
        <div class="pull-left">
            <span class="title">Интерактивное расписание мехмата ЮФУ</span>
            <span class="week" id="week"></span>
        </div>
        <div class="pull-right">
            <a class="logo" href="http://sfedu.ru/"></a>
        </div>
    </div>
</div>

<div class="page_nav">
    <div class="container">
        <div class="pull-left">
            <div class="switch" id="switch" v-cloak>
                <select2 v-model="type" :options="types" v-if="type"></select2>
                <select2 v-model="grade" :options="grades" v-if="grade"></select2>
                <select2 v-model="day" :options="days" v-if="day"></select2>
                <select2 v-model="group" :options="groups" v-if="group"></select2>
                <select2 v-model="teacher" :options="teachers" v-if="teacher" :search="true"></select2>
                <select2 v-model="room" :options="rooms" v-if="room" :search="true"></select2>
            </div>
        </div>
        <div class="pull-right">
            <span class="button icon-32 icon-32_print pull-left" id="print" title="Печать"></span>
            <div class="pull-left" id="editControl" v-cloak>
                <span class="button icon-32 icon-32_edit pull-left" id="edit" title="Редактор" data-toggle="modal" data-target="#editModal" v-if="enabled"></span>
                <span class="button icon-32 icon-32_profile pull-left" id="login" title="Авторизация" data-toggle="modal" data-target="#authModal" v-if="disabled"></span>
                <span class="button icon-32 icon-32_logout pull-left" id="logout" title="Выход" v-on:click="logout" v-if="enabled"></span>   
            </div>
        </div>
    </div>
</div>

<div class="page_content">
    <div class="container">
        <div class="jumbotron" id="intro">
            <h1>Добро пожаловать!</h1>
            <p>Выберите тип расписания, затем курс, группу, день недели, преподавателя или аудиторию.</p>
        </div>
        <div class="schedule-group" id="schedule"></div>
    </div>
</div>

<div class="page_footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 text-left"></div>
            <div class="col-xs-4 text-center">
                <span><a href="http://vk.com/public67527475">IT-лаборатория мехмата ЮФУ</a> © 2017</span>
            </div>
            <div class="col-xs-4 text-right">
                <span><a href="restapi">REST API</a></span>
                <span><a href="http://play.google.com/store/apps/details?id=com.nolan.mmcs_schedule">Google Play</a></span>
                <span><a href="https://icons8.com/">Icons8</a></span>
            </div>
        </div>
    </div>
</div>


<modal title="Авторизация" id="authModal" v-on:shown="shown" v-cloak>
    <form class="auth-form form-horizontal" v-on:submit.prevent="submit">
        <form-input id="authLogin" name="Логин" v-model="login" type="text"></form-input>
        <form-input id="authPass" name="Пароль" v-model="pass" type="password"></form-input>
        <button type="submit" class="hidden"></button>
    </form>
    <button type="button" class="btn btn-primary" v-on:click="submit" slot="footer">Войти</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" slot="footer">Отмена</button>
</modal>

<modal title="Редактор" size="large" id="editModal" v-on:shown.once="tab = 'editTeachers'" v-cloak>
    <tabs :tabs="tabs" v-model="tab" v-on:shown="shownTab">
        <div slot="editTeachers">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <td>ФИО</td>
                        <td>Степень</td>
                        <td>Действия</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="teacher in teachers">
                        <td>{{teacher.name}}</td>
                        <td>{{teacher.degree}}</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>  
        </div>

        <div slot="editRooms">rooms</div>
        <div slot="editGrades">grades</div>
        <div slot="editGroups">groups</div>
        <div slot="editSubjects">subjects</div>
        <div slot="editLessons">lessons</div>
    </tabs>
</modal>