.icon-32 {
    &:before {
        content: '';

        display: block;
        float: left;
        width: 32px;
        height: 32px;

        background-image: url(../img/32.png);
        background-position: 0 0;
    }

    &_print:before   { background-position:  -32px 0 }
    &_profile:before { background-position:  -64px 0 }
    &_logout:before  { background-position:  -96px 0 }
    &_edit:before    { background-position: -128px 0 }
}
