/* Окна */

.shadow {
	position:fixed;
	display:none;
	width:100%;
	height:100%;
	z-index: 100;
	overflow: hidden;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=55);
	-moz-opacity: 0.55;
	-khtml-opacity: 0.55;
	opacity: 0.55;
}
.window_block {
	position: absolute;
	width: 660px;
	padding: 60px 20px 40px 20px;
	left: 50%; /* Положение слоя от левого края */
	margin-left: -350px; /* Отступ слева */
	z-index: 200;
	display: none;
}
.window {
	display: none;
	width: 660px; /* ширина основного блока */
	height: auto;
	background: #ffffff; /* #f0f0f0 */
	overflow:hidden;
	z-index: 101;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	border-top: 7px solid #006699;
	-moz-border-radius: 4px; /* FF1+ */
	-webkit-border-radius: 4px; /* Saf3+, Chrome */
	-khtml-border-radius: 4px; /* old Konqueror browsers */ 
	border-radius: 4px; /* Opera 10.5+, IE 9 */
}
	.window .header {
		width: auto; /* ширина основного блока */
		padding: 0px;
	}
		.window .header .header_title {
			float: left;
			max-width: 400px;
			padding: 5px 20px 5px 20px;
			text-align: left;
		}
			.window .header .header_title span{
			font-size: 15px; color: #363636; font-weight: bold 
			}
		.window .header .header_exit {
			float: right;
			height: 32px;
			max-width: 100px;
			margin-top: 7px;
			margin-right: 10px;
			text-align: right;
		}
			.window .header .header_exit img:hover {
				opacity:0.4; /* FF, Opera, Safari, Chrome */
				filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40); /* IE7 */
				-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40); /* IE8 */
			}
	.window .content {
		width: auto;
		padding: 10px 20px 20px 20px;
		text-align: left;
	}
		.window .content p {
			font-size: 14px; color: #363636; line-height: 160%
		}
		.window .content .header p {
			font-size: 18px;
			font-weight: normal;
			font-family: Helvetica;
			color: #3A84A6;
		}